<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your precise location is used to calculate turn-by-turn directions, show your location on the map, and help improve the map.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ABCDiatypeMono-Regular.otf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiZmlpZ21udCIsImEiOiJjbDBkcXRwOHcwOWw0M2RrOWMydjhpN2o3In0.I6nZZg9gLK-ozUy4zRuZdQ</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your precise location is used to calculate turn-by-turn directions, show your location on the map, and help improve the map.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>twitter</string>
	</array>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracyAuthorizationDescription</key>
		<string>Please enable precise location. Turn-by-turn directions only work when precise location data is available.</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>AR View</string>
</dict>
</plist>
